.current-search {
    color: rgb(52, 203, 35);
    text-align: center;
}

.story {
    background-color: white;
    border: 0px;
    border-bottom: 2px solid white;
    cursor: pointer;
    font-family: Fenice ITC W01 Bold;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    a {
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
    .ups {
        color: green;
    }
    .downs {
        color: red;
    }
    &:hover {
        background: aliceblue;
    }
}

.story-error {
    text-align: center;
    color: red;
}
