.current-search {
    color: #876794;
    text-align: center;
}

.story {
    background-color: $background;
    border: 0px;
    border-bottom: 2px solid white;
    cursor: pointer;
    font-family: Fenice ITC W01 Bold;
    font-size: 1.2em;
    padding: 10px 20px;
    a {
        color: whitesmoke;
        &:hover {
            text-decoration: none;
        }
    }
    .ups {
        color: green;
    }
    .downs {
        color: red;
    }
    &:hover {
        background: rgb(48, 100, 61);
    }
}

.story-error {
    text-align: center;
    color: red;
}
