<div class="col-xs-12 col-s-10 col-s-offset-1 search">

    <!-- Search form -->
    <form role="form" ng-submit="onSubmit()">
        <input type="text" name="query" ng-model="query" class="form-control"/>
    </form>

    <!-- Current search -->
    <h3 ng-model="currentSearch" class="current-search" ng-show="currentSearch">
        #{{currentSearch}}
    </h3>

    <!-- List of links -->
    <ul class="list-group fade">
        <li class="list-group-item story-error" ng-show="error">
            <h4> No posts for {{ currentSearch }} found. </h4>
        </li>
        <li class="list-group-item row story" ng-repeat="link in links" ng-animate="'animate'">
            <div class="col-xs-2 text-center">
                <div class="ups">+{{link.ups}}</div>
                <div class="downs">-{{link.downs}}</div>
            </div>
            <div class="col-xs-10">
                <a href="{{link.url}}">{{link.title}}</a>
            </div>

        </li>
    </ul>

</div>
